<div class="crest">
	<%= render :partial => 'crest', :locals => { :crest => @info.crest } %>
</div>

<div class="about_blurb">
	<%= simple_format @info.about %>
</div>

<% @works.each do |work| %>
	<div class="section">
		<div class="title">
			<%= work.title %>
		</div>
		<div class="description">
			<%= simple_format work.description %>
		</div>
		<div class="image">
			<%= render :partial => 'work_image', :locals => { :work => work } %>
		</div>
	</div>
<% end %>