<div class="captioned_image">
	<%= image_tag(the_image.image.regular, :alt => the_image.name) %>
	<div class="image_caption">
		<span class="name"><%= the_image.name %></span><%= ".  " unless the_image.name.nil? %>
		<span class="author"><%= the_image.author %></span><%= ".  " unless the_image.author.nil? %>
		<span class="date"><%= l the_image.date, :format => :image unless the_image.date.nil? %></span><%= ".  " unless the_image.date.nil? %>
		<%= tag 'br' unless the_image.info.nil? %><span class="info"><%= the_image.info %></span>
	</div>
</div>