<div class="comment_count">->&nbsp;&nbsp;&nbsp;<%= pluralize post.comments.chronological.count, 'comment' %>.&nbsp;&nbsp;&nbsp;Contribute a comment.</div>

<div class="comments_zippy">
	<% post.comments.chronological.each do |comment| %>
		<div class="comment">
			<div class="commentor">
				<%= get_commentor_name comment %>
			</div>
			<div class="comment_text">
				<%= simple_format comment.comment %>
			</div>
		</div>
	<% end %>

	<% @comment.errors.full_messages.each do |msg| %>
      <div class="comment_form_error"><%= msg %></div>
    <% end %>

	<div class="comment_form">
		<%= form_for [post, @comment] do |f| %>
			<%= f.label :comment, 'Make a comment' %>
			<%= f.text_area :comment %><br />
		 	<%= f.label :name, 'Name' %>
			<%= f.text_field :name %><br />
		 	<%= f.label :website, 'Website' %>
			<%= f.text_field :website %><br />
			<%= f.submit 'Comment' %>
		<% end %>
	</div>

</div>
