<div class="post">
	<div class="title">
		<%= link_to post.title, post %>
	</div>

	<div class="metadata">
		<div class="timestamp">
			<%= l post.created_at.in_time_zone("Pacific Time (US & Canada)"), :format => :blog_post %>
		</div>
		<div class="tags">
			<% post.tags.each do |tag| %>
				<span class="tag"><%= link_to tag.name, tagged_posts_url(:tag => tag.name) %></span>
			<% end %>
		</div>
	</div>

	<%= render :partial => 'post_body', :locals => { :post => post } %>

	<%= render :partial => 'comments', :locals => {:post => post} %>
</div>