<!DOCTYPE html>
<html>
<head>
  <title>masha lifshin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
	<div class="flash_notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:error] %>
	<div class="flash_error"><%= flash[:error] %></div>
<% end %>
<% if flash[:alert] %>
	<div class="flash_error"><%= flash[:alert] %></div>
<% end %>

<%= render :partial => "shared/navigation" %>

<%= yield %>

</body>
</html>
